# ignore de config
/.vscode
/.devcontainer

# ignore venv / compiladores
Makefile
venv/

# ignore de PY -> bot discord
py/bot discord/token.txt

# ignore de PY -> conversor de moedas
py/conversor de moedas/api_key.txt
